.container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin: 30px;
    justify-content: space-around;
}

.innerContainer {
    width: 40%;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px #ccc;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 10px;
}

.innerContainer label {
    text-align: center;
    border-bottom: 1px solid gray;
    margin-bottom: 30px;
    padding-bottom: 10px;
    font-family: "Times New Roman", Times, serif;
    font-weight: 700;
    font-size: 50px;
    color: blue;
}

.innerContainer input {
    margin: 20px 20px;
    font-size: 20px;
    height: 30px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
}

.innerContainer button {
    color: white;
    background-color: rgb(0, 0, 255);
    border: none;
    border-radius: 5px;
    max-width: 100px;
    padding: 10px 5px;
    margin: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}

.innerContainer button:hover {
    background-color: rgb(0, 0, 199);
}

@media screen and (width<=900px) {
    .innerContainer {
        width: 80%;
    }
}

@media screen and (width<=450px) {
    .innerContainer {
        width: 90%;
    }

    .innerContainer label {
        font-size: 30px;
    }
}
